<header>
    <h2>Contact Information</h2>
</header>

<section class="row">
    <address class="col-md-6">
        <div class="text-info">
            PRIMARY ADDRESS<br />
            MyMovie App<br />
            P.O. Box 4466<br />
            Traverse City, MI 49696<br />
        </div>
        <br />
        <div class="text-info">
            EMAIL<i class='far fa-envelope'></i><br />
            cosnowc@mail.nmc.edu<br />
        </div>
    </address>
</section>