<header>
    <h2>Contact Information</h2>
</header>

<section class="row">
    <address class="col-md-6">
        PRIMARY ADDRESS<br />
        Code First Movies App<br />
        P.O. Box 4466<br />
        Traverse City, MI 49696<br />
        <br />
    </address>
</section>